
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Courgette&family=Roboto&family=Young+Serif&display=swap');

*{
    
    padding: 0px;
    margin: 0px;
}

.container{
    position: relative;
}

.header{
    display: block;
    position: relative;
    background-color: #F9DC5C;
    border: 1px solid #99621E;
    height: 10vh;
    width: 100vw;
}

#navbar{
    float: right;
}

.header img{
    display: inline;
    height: 50px;
    width: 50px;
    border: 1px solid #99621E;
    border-radius: 360px;
    margin-left: 4vw;
    margin-top: 1vh;
}

#links{
    display: inline-block;
    float: right;
    margin-right: 5vw;
    padding-top: 3.3vh;
}
    
#links a{
    text-decoration: none;
    font-size: larger;
    color: #99621E;
    text-shadow: 2px 2px #FCEFB4;
    font-family: 'Concert One', cursive;
}

.banner{
    display:block;    
    position: relative;
    background-image: url(banner-img.png);
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}

.title{
    margin-top: 29vh;
    margin-left: 3vw;
}

.title h1{
    display: inline;
    font-size: 4em;
    color: #99621E;
    font-family: 'Concert One', cursive;
}

.title #name{
    display: inline;
    font-size: 5em;
    color: #F9DC5C;
    text-shadow: 2px 2px #99621E;
    font-family: 'Concert One', cursive;
}

.banner p{
    color: #99621E;
    text-shadow: 2px 1px #F9DC5C;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 3.8vw;
    margin-bottom: 5vh;
    margin-top: 1vh;
}

.banner a{
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: 2em;
    margin-left: 4vw;
    padding: 15px;
    color: #99621E;
    background-color: #F9DC5C;
}

.footer{
    display: block;
    position: relative;
    bottom: 0px;
    height: 10vh;
    width: 100vw;
    background-color: #F9DC5C;
    border: 1px solid #99621E;
}

.footer p{
    display: inline-block;
    padding-top: 4vh;
    padding-left: 4vw;
    font-size: 0.7em;
    color: #99621E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer img{
    display: inline;
    position: relative;
    float: right;
    margin-top: 2.5vh;
    margin-right: 4vw;
    height: 35px;
    width: 35px;
}

